<!DOCTYPE html>
<html>

<head>
    <title>PortFolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body>
    <div class="container">
        <div class="nav">
            <a href="index.html" class="home-page"><img src="./src/pages/img/home.png" style="width: 33px; height: 33px;" alt="Home"></a>
            <a href="./src/pages/about.html" class="about"><img src="./src/pages/img/user.png" style="width: 35px; height: 35px;" alt="User"></a>
            <a href="./src/pages/education.html" class="education"><img src="./src/pages/img/Education.png" style="width: 38px; height: 38px;" alt="Education"></a>
            <a href="./src/pages/project.html" class="project"><img src="./src/pages/img/Project.png" style="width: 38px; height: 38px;" alt="Project"></a>
            <!-- <a href="github.html" class="github"><img src="github.png" style="width: 38px; height: 38px;" alt="GitHub"></a>
            <a href="instagram.html" class="instagram"><img src="instagram.png" style="width: 38px; height: 38px;" alt="Instagram"></a>
            <a href="linkedin.html" class="linkedin"><img src="linkedin.png" style="width: 38px; height: 38px;" alt="LinkedIn"></a> -->
        </div>
        
        <div class="profile">
            <img class="profile-pic" src="./src/pages/img/my.jpg" alt="Profile Picture">
            <div class="name"><h1>Zafar</h1></div>
            <p>I'm a passionate AI/ML enthusiast on the journey to become a skilled Data Scientist.</p>
            <div class="button-container">
                <a href="#"><button class="button">Resume</button></a>
                <a href="https://www.linkedin.com/in/md-zafar-41687b157?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><button class="button">Connect</button></a>
            </div>
        </div>
    </div>
</body>
</html>
